@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Indie+Flower&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

header > p > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header > p > a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: white;
}

p {
    font-family: Sriracha, Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}