@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D6C7B0, #8C7B5E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #504636a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #615237;
    text-align: center;
    text-shadow: 1px 1px 2px #806c49;
}

h2 {
    color: #263e53;
}

p {
    text-align: justify;
}